body {
    margin: 0;
}

#main {
    background: rgba(76, 101, 113, 0.478);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background: rgb(26, 26, 26);
    border: 2px solid rgb(26, 26, 26);
    outline: 6px outset rgb(35, 58, 139);
    outline-offset: .3rem;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 510px;
}

#display {
    background: rgb(183, 183, 183);
    border: 2px solid rgb(35, 58, 139);
    border-radius: 10px;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

#display-number {
    text-align: right;
    font-size: 4.5em;
    margin-right: 5px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 1em 5px;
    gap: .3em;
    justify-content: center;
}

button {
    height: 2.5em;
    width: 3.12em;
    font-size: 30px;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

button:hover {
    background-color: rgb(168, 168, 168);
}

button:active {
    background-color: rgb(168, 168, 168);
    transform: translateY(2px);
}

.toggle:focus {
    background-color: rgb(168, 168, 168);
}

#zero-button {
    width: 6.38em;
}